/* Main */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main div{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 1rem;

    background-color: white;

    text-align: justify;
}

main div h3{
    margin: 2rem;
}
main div p{
    margin: 2rem;
}
main div a{

    margin-bottom: 2rem;
    padding: .5rem 4rem;
    border-radius: .5rem;

    background-color:gray;

    text-decoration: none;
    color: white;
}